.canvas-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.p-16 {
  padding: 16px;
}

.inherit-height {
  height: 100%;
}

.p-ex-top-16 {
  padding: 0px 16px 16px 16px;
}

.px-16 {
  padding: 0px 16px;
}

.m-16 {
  margin: 16px;
}

// .statistic-card {
//   max-height: calc(100% - 32px);

//   .statistic-card-content {
//     max-height: calc(100% - 60px) !important;
.statistic-canvas {
  max-height: 100% !important;
  height: 456px !important;
  // border: solid black 1px;
}

//   }
// }

.paramater-card {
  max-height: calc(100% - 32px);
}

.w-100 {
  width: 100%;
}

// ::ng-deep {
//   .ngx-slider {
//     margin-top: 15px !important;

//     .ngx-slider-bubble {
//       display: none !important;
//     }

//     .ngx-slider-pointer {
//       width: 16px !important;
//       height: 16px !important;
//       border-radius: 8px !important;
//       top: -6px !important;
//     }

//     .ngx-slider-pointer::after {
//       visibility: hidden !important;
//     }
//   }
// }
