<div fxLayout="row" fxLayoutAlign="start stretch">
  <div fxFlex="50" fxLayout="column" fxLayoutAlign="start stretch">
    <div fxLayout="row" fxLayoutAlign="start stretch">
      <div fxFlex="80" class="p-16" [formGroup]="paramForm">

        <mat-card>
          <mat-card-header>
            <mat-card-title>Parameter</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <ng-container *ngTemplateOutlet="labeledSlider; context:{name: 'Inkubationszeit', value: this.paramForm.value.daysIncubated, sliderOptions:{floor: 1, ceil: 10, step: 1}, formControlName: 'daysIncubated'}">
            </ng-container>

            <!-- <ng-container *ngTemplateOutlet="labeledSlider; context:{name: 'Test', value: this.paramForm.value.test, sliderOptions:{floor: 1, ceil: 10, step: 1}, formControlName: 'test'}">
            </ng-container> -->

            <ng-container *ngTemplateOutlet="labeledSlider; context:{name: 'Infektionszeit', value: this.paramForm.value.daysSymptomatic, sliderOptions:{floor: 1, ceil: 10, step: 1, showSelectionBar: true}, formControlName: 'daysSymptomatic'}">
            </ng-container>

            <ng-container *ngTemplateOutlet="labeledSlider; context:{name: 'Isolationsrate Symptomanten', value: this.paramForm.value.isolationRateSymptomatic, sliderOptions:{floor: 0, ceil: 1, step: 0.05, showSelectionBar: true}, formControlName: 'isolationRateSymptomatic'}">
            </ng-container>

            <ng-container *ngTemplateOutlet="labeledSlider; context:{name: 'Übertragungsrate', value: this.paramForm.value.transmissionProbability, sliderOptions:{floor: 0, ceil: 1, step: 0.05, showSelectionBar: true}, formControlName: 'transmissionProbability'}">
            </ng-container>

            <ng-container *ngTemplateOutlet="labeledSlider; context:{name: '2. Infektion', value: this.paramForm.value.reInfectionRate, sliderOptions:{floor: 0, ceil: 1, step: 0.05, showSelectionBar: true}, formControlName: 'reInfectionRate'}">
            </ng-container>

            <ng-container *ngTemplateOutlet="labeledSlider; context:{name: 'Sterberate', value: this.paramForm.value.deathRate, sliderOptions:{floor: 0, ceil: 1, step: 0.01, showSelectionBar: true}, formControlName: 'deathRate'}">
            </ng-container>

            <ng-container *ngTemplateOutlet="labeledSlider; context:{name: 'Tägliche Kontakte', value: this.paramForm.value.numberOfContacts, sliderOptions:{floor: 0, ceil: 10, step: 1, showSelectionBar: true}, formControlName: 'numberOfContacts'}">
            </ng-container>

            <ng-container *ngTemplateOutlet="labeledSlider; context:{name: 'Bewegungsradius', value: this.paramForm.value.movementRadius, sliderOptions:{floor: 0, ceil: 10, step: 1, showSelectionBar: true}, formControlName: 'movementRadius'}">
            </ng-container>
          </mat-card-content>
        </mat-card>

      </div>

      <div fxFlex="20" fxLayout="column" fxLayoutAlign="end stretch" class="p-16" [formGroup]="metaForm">
        <!-- <ng-container *ngTemplateOutlet="labeledSlider; context:{name: 'Test', value: this.paramForm.value.movementRadius, sliderOptions:{floor: 0, ceil: 10, step: 1, showSelectionBar: true, vertical: true}, formControlName: 'movementRadius'}">
        </ng-container> -->
        Geschwindigkeit {{this.metaForm.value.stepsPerSecond}}
        <ngx-slider [options]="{ floor: 1, ceil: 20, step: 1, showSelectionBar: true }" [formControlName]="'stepsPerSecond'"></ngx-slider>
        <button mat-icon-button *ngIf="!simulationEnded && !timerRunning" (click)="toggleSimulationExecution()">
          <mat-icon matTooltip="Play">play_circle_outline</mat-icon>
        </button>
        <button mat-icon-button *ngIf="!simulationEnded && timerRunning" (click)="toggleSimulationExecution()">
          <mat-icon matTooltip="Pause">pause_circle_outline</mat-icon>
        </button>
        <button mat-icon-button *ngIf="simulationEnded" (click)="reset()">
          <mat-icon matTooltip="Erneut starten">replay</mat-icon>
        </button>
        <button mat-icon-button (click)="simulateStep()" [disabled]="simulationEnded || timerRunning">
          <mat-icon matTooltip="Einzelner Schritt">redo</mat-icon>
        </button>
      </div>
    </div>

    <div fxFlex="60" class="p-16">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Statistik</mat-card-title>
          <mat-card-subtitle>Tag: {{day | json}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <canvas baseChart
                  [chartType]="'line'"
                  [labels]="lineChartLabels"
                  [datasets]="lineChartData"
                  [options]="lineChartOptions"
                  [colors]="lineChartColors"
                  [legend]="true">
          </canvas>
        </mat-card-content>
      </mat-card>
      <!-- <div *ngFor="let statistic of statistics">
        {{statistic | json}}
      </div> -->

    </div>
  </div>

  <div fxFlex="40" class="canvas-wrapper">
    <canvas #canvas></canvas>
  </div>
</div>

<!-- <ng-template #labeledPlainHtmlSlider let-name="name" let-valueRef="value" let-min="min" let-max="max" let-step="step" let-fCName="formControlName">
  <div fxLayout="column" fxLayoutAlign="start stretch" [formGroup]="paramForm">
    <div fxLayout="row" fxLayoutAlign="space-between stretch">
      <label>
        {{name}}
      </label>
      {{valueRef}}
    </div>
    <input type="range" [min]="min" [max]="max" [step]="step" [formControlName]="fCName">
  </div>
</ng-template> -->

<ng-template #labeledSlider let-name="name" let-valueRef="value" let-options="sliderOptions" let-sliderControlName="formControlName">
  <div fxLayout="column" fxLayoutAlign="start stretch" [formGroup]="paramForm" style="padding-bottom: 12px;">
    <div fxLayout="row" fxLayoutAlign="space-between stretch">
      <label>
        {{name}}
        <mat-icon matTooltip="Info about the parameter" [inline]="true">help_outline</mat-icon>
      </label>

      {{valueRef}}
    </div>
    <ngx-slider [options]="options" [formControlName]="sliderControlName"></ngx-slider>
  </div>
</ng-template>
